<h1>Welcome to express</h1>
<header>
  <img src="/image/logo.jpg" alt="" />
</header>
<form class="" action="/process/contact" method="post">
  <input type="text" name="name" value="">
  <input type="text" name="email" value="">
  <button type="submit">提交</button>
</form>
<h1>{{name}}</h1>
<h1>{{sex}}</h1>
