<!DOCTYPE html>
<html lang="en">
<head>
  {@include file://_common/head.html, _}
</head>
<body>
  <h1>HelloWorld</h1>
  <div class="" ng-controller='indexController'>
      <h1>{{name}}</h1>
      <button type="button" id='change' ng-click='showHtml()' name="button">
        Show
      </button>
      <div id="ee" style="display:none;">dasaasddasasd</div>
      <div class="remove">12344</div>
      <div class="remove">
        <div class="child"></div>
      </div>
  </div>

  <script type="text/javascript">
    require(['index/controllers/index'], function (app) {
      app.init();
    })
  </script>
</body>
</html>
